<ion-view view-title={{pageTitle}}>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <div class="">
    <div style="width:100%;">
      <img src="img/ionic.png" alt="" style="height: 82px; width:82px;margin:0 auto;display: block;margin-top: 120px;">
      <h5 style="text-align:center;color:#727272;margin-top:50px;">Gank.io APP version:1.0.0</h5>

      <h6 style="text-align:center;color:#727272;margin-top:50px;">QQ: 1037762828</h6>
      <h6 style="text-align:center;color:#727272;">Email: yuanxiaowei1991@gmail.com</h6>
     </div>
  </div>
</ion-view>
