<ion-view view-title="福利图片">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="list card animated fadeIn" ng-repeat="item in items">

      <div class="item item-body" >
        <!-- <img class="full-image" src={{item.url}} ng-click="showImages($index)"> -->
        <div class="imgFuli" ng-click="showImages($index)" style="background-image: url('{{item.url}}');">

        </div>
        <div style="margin-top:8px;">
          <span style="color:#727272;font-size:13px;"><i class="ion-person" style="display:inline-block;width:20px;"></i>{{item.who}}</span>
          <span style="display:inline-block;float:right;color:#727272;font-size:13px;"><i class="ion-clock"style="display:inline-block;width:20px;"></i>{{(item.publishedAt).split('T')[0]}}</span>
        </div>
      </div>

    </div>
    <ion-infinite-scroll on-infinite="loadMore()">
      <ion-spinner icon="dots" class="spinner-dark spinner spinner-dots"></ion-spinner>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
