<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive" align-title="center">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Gank.io</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/fuli">
          <i class="ion-android-favorite" style="width:30px;display: inline-block;"></i>
          <span>福利</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/web">
          <i class="ion-social-html5" style="width:30px;display: inline-block;"></i>
          <span>前端</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ios">
          <i class="ion-social-apple" style="width:30px;display: inline-block;"></i>
          <span>iOS</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/android">
          <i class="ion-social-android" style="width:30px;display: inline-block;"></i>
          <span>Android</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/expand">
          <i class="ion-ios-eye" style="width:30px;display: inline-block;"></i>
          <span>拓展资源</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/recommend">
          <i class="ion-ios-paperplane" style="width:30px;display: inline-block;"></i>
          <span>瞎推荐</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/video">
          <i class="ion-film-marker" style="width:30px;display: inline-block;"></i>
          <span>休息视频</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
          <i class="ion-information-circled" style="width:30px;display: inline-block;"></i>
          <span>关于</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
